@use "../abstracts" as *;

.header{
    position: relative;
    @include flex;
    padding: 100px 0 0;
    .container{
        text-align: center;
        h2{
            font-size: 60px;
            color: $mainColor;
            text-shadow: $mainShadow;
            @include respond(350){
                font-size: 35px;
            }
            @include respond(850){
                font-size: 45px;
            }
            @include respond(1250){
                font-size: 55px;
            }
        }
        p{
            font-size: 23px;
            @include respond(350){
                font-size: 14px;
            }
            @include respond(850){
                font-size: 18px;
            }
            @include respond(1250){
                font-size: 23px;
            }
        }
    }
}

#Collections{
    padding-top: 0;
    .title{
        margin-bottom: 0;
        margin-top: 30px;
        @include respond(350){
            margin-top: 15px;
        }
    }
    .swiper{
        padding: 60px 0 80px;
        .swiper-slide{
            width: 330px;
            background: linear-gradient(180deg, rgba(255,255,255,0.01), transparent);
            box-shadow: 0 8px 30px rgba(0,0,0,0.7), inset 0 1px 0 rgba(255,255,255,0.03);
            border-radius: 20px;
            overflow: hidden;
            // transition-duration: .5s;
            // transition: background-color 1s !important;
            will-change: transform;
            position: relative;
            cursor: grab;
            @include respond(350){
                width: 300px;
            }
            @include respond(1250){
                width: 330px;
            }
            .heart{
                @include position($t: 20px, $l: 20px, $z: 1);
                font-size: 35px;
                color: rgba(255, 255, 255, 0.3);
                opacity: 0;
                transition-duration: .6s;
                transform: scale(.5);
            }
            .item{
                overflow: hidden;
                transition-duration: .2s;
                .head{
                    img{
                        width: 220px;
                        display: block;
                        margin-inline: auto;
                        margin-block: 10px;
                        transition-duration: .5s;
                        @include respond(350){
                            width: 200px;
                        }
                        @include respond(1250){
                            width: 220px;
                        }
                    }
                    .icons{
                        width: fit-content;
                        margin: auto;
                        transform: translateY(30px);
                        transition-duration: 1s;
                        opacity: 0;
                        i{
                            width: 44px;
                            height: 44px;
                            font-size: 18px;
                            border-radius: 50%;
                            border: 1px solid rgba(212, 175, 55, 0.10);
                            color: $mainColor;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            transition-duration: .3s;
                            cursor: pointer;
                            &.remove{
                                background-color: $mainColor;
                                color: rgba(0,0,0,0.6);
                                position: relative;
                                &::after{
                                    @include creatEle(3px, 100%);
                                    @include position($t: 0, $l: 50%);
                                    transform: translate(-50%) rotate(45deg);
                                    background-color: rgba(0, 0, 0, 0.8);
                                    border-radius: 5px;
                                }
                            }
                            &.inFav{
                                background-color: $mainColor;
                                color: rgba(0,0,0,0.8);
                            }
                            &:hover{
                                box-shadow: 0 0 18px rgba(212, 175, 55, 0.12), 0 1px 0 rgba(255, 255, 255, 0.04) inset;
                            }
                        }
                    }
                }
                .body{
                    padding: 10px 20px 20px;
                    h3{
                        color: $mainColor;
                        text-shadow: $mainShadow;
                        font-size: 35px
                    }
                    .info{
                        @include flex(space-between);
                        .price{
                            font-size: 18px;
                            font-weight: 700;
                        }
                        .rate{
                            color: gold;
                        }
                    }
                }
            }
            &.swiper-slide-active{
                .item{
                    &:hover{
                        .head{
                            img{
                                transform: scale(1.06) rotateZ(-0.6deg);
                            }
                            .icons{
                                transform: translateY(0);
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            &.swiper-slide-next,
            &.swiper-slide-prev{
                position: relative;
                &::after{
                    @include creatEle(100%,100%);
                    @include position($t: 0, $l: 0);
                }
            }
            &.added{
                .item{
                background-color: #c5a5720f;
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);    
                }
                .heart{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        .swiper-pagination-bullet{
            background: rgba(255,255,255,0.18);
            width:10px;height:10px;opacity:1;
        }
        .swiper-pagination-bullet-active{
            background: rgba(255, 217, 0, 0.5);
            transform:scale(1.25);
        }
    }
}