@use "../abstracts" as *;

footer{
    padding-block: 10px;
    background: url(../Images/bg.png) no-repeat;
    background-size: cover;
    position: relative;
    &::before{
        @include creatEle(100%,100%);
        @include position($t: 0, $l: 0);
        background-color: rgba(0, 0, 0, 0.8);
    }
    .container{
        position: relative;
        @include flex($j: space-between);
        img{
            width: 100px;
            @include respond(350){
                display: none;
            }
            @include respond(850){
                width: 90px;
                display: initial;
            }
            @include respond(1250){
                width: 100px;
            }
        }
        p{
            @include respond(350){
                font-size: 12px;
            }
            @include respond(450){
                font-size: 15px;
            }
        }
        .socials {
            a{
                i {
                    color: $mainColor;
                    font-size: 20px;
                    margin: 0 8px;
                    transition: 0.3s;
                    @include respond(350){
                        font-size: 18px;
                    }
                    @include respond(1250){
                        font-size: 20px;
                    }
                    &:hover {
                        color: #fff;
                        text-shadow: 0 0 10px rgb(255, 215, 0);
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}