@use "variables" as *;
@use "mixins" as *;

html,* { cursor: none; }
body{
    background-color: #0e0e0e;
    color: #f5f5f5;
    font-family: "Lora", serif;
}
body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, rgba(255,255,255,0.01), transparent);
    border-radius: 23px;
}

section{
    padding-block: 40px;
}

.mainColor{
    color: $mainColor;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Cinzel", serif;
    font-style: italic;
}

p { color: #a7a7a7; }

.btn,
.btn:active{
    background-color: #0000009a;
    box-shadow: 0 0 18px rgba(212,175,55,0.12), 0 1px 0 rgba(255,255,255,0.04) inset;
    transition-duration: .3s;
    color: #ccc;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 20px;
    @include respond(350){ font-size: 14px; }
    @include respond(650){ font-size: 16px; }
    @include respond(1250){ font-size: 18px; }
    &:hover{
        border-color: #000;
        background-color: #000;
        box-shadow: 0 0 40px rgba(212,175,55,0.20), 0 2px 0 rgba(255,255,255,0.05) inset;
    }
}

.title{
    margin-bottom: 20px;
    h2{
        font-size: 50px;
        color: $mainColor;
        margin-bottom: 0;
        @include respond(350){ font-size: 35px; }
        @include respond(450){ font-size: 37px; }
        @include respond(850){ font-size: 40px; }
        @include respond(1050){ font-size: 45px; }
    }
    img{
        width: 150px;
        @include respond(350){ width: 100px; }
        @include respond(850){ width: 130px; }
    }
}

#tsparticles,
#tsP {
    @include position($t: 0, $l: 0, $z: -1);
    width: 100%;
    height: 100%;
}

.loading{
    @include position($p: fixed, $t: 0, $l: 0, $z: 100);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    @include flex;
    h2{
        font-size: 60px;
        color: $mainColor;
        text-shadow: $mainShadow;
        animation: scaling 2.5s linear ;
        transform: scale(1.1);
        @include respond(350){ font-size: 45px;}
        @include respond(850){ font-size: 55px; }
    }
    .gold-line {
        width: 180px;
        height: 2px;
        background: rgba(212, 175, 55, 0.3);
        overflow: hidden;
        margin: 20px auto;
        position: relative;
    }
    .gold-line::before {
        @include creatEle(60px,2px);
        position: absolute;
        background: #d4af37;
        animation: slide 1.8s infinite ease-in-out;
    }
}

%popup-box{
    background: rgba(255,255,255,0.07);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding-block: 25px;
    transform: scale(0.3);
    transition-duration: .5s;
}

.popUp{
    @include position($p: fixed, $t: 0, $l: 0, $z: 10);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    @include flex;
    display: none;
    overflow: auto;
    &.scroll{
        align-items: start;
        padding-block: 30px;
    }
    .box{
        @extend %popup-box;
        width: 750px;
        @include respond(350){ width: 300px; }
        @include respond(850){ width: 550px; }
        @include respond(1050){ width: 650px; }
        .title{
            h2{ font-size: 28px; }
            img{ width: 100px; }
        }
        .close{
            @include position($t: 15px, $r: 20px);
            color: $mainColor;
        }
        .row{
            .part1{
                img{
                    @include respond(350){
                        width: 200px;
                        display: block;
                        margin: auto;
                    }
                    @include respond(850){
                        width: initial;
                    }
                }
            }
            .part2{
                padding-right: 25px;
                @include flex;
                @include respond(350){
                    padding-left: 25px;
                }
                @include respond(850){
                    padding-left: 0;
                }
                h3{
                    color: $mainColor;
                    text-shadow: $mainShadow;
                    font-size: 35px;
                    margin-bottom: 15px;
                    @include respond(350){
                        font-size: 30px;
                    }
                    @include respond(1050){
                        font-size: 35px;
                    }
                }
                .info{
                    margin-bottom: 8px;
                    .price{
                        font-size: 20px;
                        font-weight: 700;
                    }
                    .rate{
                        color: gold;
                    }
                }
                p{
                    font-size: 18px;
                    @include respond(350){
                        font-size: 16px;
                    }
                    @include respond(1050){
                        font-size: 18px;
                    }
                }
                .icons{
                    i{
                        width: 44px;
                        height: 44px;
                        font-size: 18px;
                        background-color: rgba(0,0,0,0.3);
                        border-radius: 50%;
                        border: 1px solid rgba(212, 175, 55, 0.10);
                        color: $mainColor;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        transition-duration: .3s;
                        &.remove{
                            background-color: $mainColor;
                            color: rgba(0,0,0,0.6);
                            position: relative;
                            &::after{
                                @include creatEle(3px, 100%);
                                @include position($t: 0, $l: 50%);
                                transform: translate(-50%) rotate(45deg);
                                background-color: rgba(0, 0, 0, 0.8);
                                border-radius: 5px;
                            }
                        }
                        &.inFav{
                            background-color: $mainColor;
                            color: rgba(0,0,0,0.8);
                        }
                        &:hover{
                            box-shadow: 0 0 18px rgba(212, 175, 55, 0.12), 0 1px 0 rgba(255, 255, 255, 0.04) inset;
                        }
                    }
                }
            }
        }
    }
    &.active .box{ transform: scale(1); }
}
.popUp.cart{
    .box{
        padding: 25px;
        @include respond(650){ width: 350px; }
        @include respond(850){ width: 400px; }
        @include respond(1050){ width: 550px; }
        @include respond(1250){ width: 650px; }
        .part{
            .item{
                background: linear-gradient(180deg, rgba(0,0,0,0.8), rgba(0,0,0,0.2));
                box-shadow: 0 8px 20px rgba(0,0,0,0.7), inset 0 1px 0 rgba(255,255,255,0.03);
                border-radius: 15px;
                position: relative;
                padding: 20px;
                margin-bottom: 15px;
                @include respond(350){ padding: 10px; }
                h4{
                    color: $mainColor;
                    text-shadow: $mainShadow;
                    @include respond(350){ font-size: 16px; }
                    @include respond(1050){ font-size: 18px; }
                    @include respond(1250){ font-size: 22px; }
                }
                i{
                    @include position($b: 15px, $r: 15px);
                    width: 32px;
                    height: 32px;
                    background-color: rgba(0,0,0,0.3);
                    border-radius: 50%;
                    border: 1px solid rgba(212, 175, 55, 0.10);
                    color: $mainColor;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    transition-duration: .3s;
                    @include respond(350){
                        font-size: 14px;
                        width: 28px;
                        height: 28px;
                        bottom: 10px;
                        right: 10px;
                    }
                    &:hover{ box-shadow: 0 0 18px rgba(212, 175, 55, 0.12), 0 1px 0 rgba(255, 255, 255, 0.04) inset; }
                }
                .price{ font-weight: 700; }
            }
        }
        .btns{
            @include flex;
            .btn{
                margin: 10px;
                @include respond(350){ padding: 6px 12px; }
                @include respond(1250){ padding: 8px 18px; }
            }
        }
        .empty{
            h5{
                font-size: 30px;
                text-align: center;
                margin-block: 20px;
                color: $mainColor;
                text-shadow: $mainShadow;
            }
        }
    }
}
.popUp.fav{
    .box{
        padding: 25px;
        @include respond(650){ width: 350px; }
        @include respond(850){ width: 400px; }
        @include respond(1050){ width: 550px; }
        @include respond(1250){ width: 650px; }
        .row{
            .item{
                background-color: #c5a5720f;
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                border-radius: 20px;
                padding: 10px;
                position: relative;
                margin-bottom: 10px;
                @include respond(350){ padding: 8px; }
                .heart{
                    display: initial;
                    @include position($t: 10px, $l: 10px);
                    font-size: 25px;
                    color: rgba(255, 255, 255, 0.3);
                    @include respond(350){ font-size: 20px; }
                }
                img{ width: 110px; }
                h6{
                    margin: 5px;
                    color: $mainColor;
                    text-shadow: $mainShadow;
                }
            }
        }
        .empty{
            h5{
                font-size: 30px;
                text-align: center;
                margin-block: 20px;
                color: $mainColor;
                text-shadow: $mainShadow;
            }
        }
    }
}

.fly-img {
    position: absolute;
    width: 120px;
    z-index: 9999;
    transform: translate(50%);
    pointer-events: none;
    @include respond(350){ transform: translate(0); }
}

.cartAlert,
.swal2-popup{
    background-color: #c5a5720f;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    @include respond(350){ width: 300px; }
    @include respond(450){ width: 350px; }
    @include respond(850){ width: 400px; }
    @include respond(1250){ width: 450px; }
    h2{
        color: $mainColor;
        text-shadow: $mainShadow;
    }
    .swal2-html-container{
        padding: 0;
        input{
            background-color: rgba(255,255,255,0.03);
            color: #a7a7a7;
            border: none;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba(212, 175, 55, 0.3), 0 0 10px rgba(255, 201, 77, 0.15);
            padding: 6px 12px;
            margin-top: 25px;
            @include respond(350){
                padding: 6px 10px;
                width: 73%;
            }
            &::placeholder{ color: #a7a7a7a7; }
        }
    }
    .swal2-validation-message{
        background-color: $mainColor;
        color: #fff;
        &::before{ background-color: #000000bb; }
    }
    .swal2-confirm{ background-color: $mainColor; }
    .swal2-success-circular-line-left,
    .swal2-success-circular-line-right,
    .swal2-success-fix{ display: none; }
}

#magicPointer{
    background-color: $mainColor !important;
    box-shadow: $mainShadow;
    z-index: 1000;
}
#magicPointer a{
    background-color: #000 !important;
}
#magicMouseCursor{
    border: 2px solid $mainColor !important;
    z-index: 1000;
}
