@mixin respond($breakPoint){
    @if($breakPoint == 350){
        @media (max-width: 1300px) {
            @content;
        }
    }
    @else if($breakPoint == 450){
        @media (min-width: 371px) and (max-width: 1300px) {
            @content;
        }
    }
    @else if($breakPoint == 650){
        @media (min-width: 577px) and (max-width: 1300px) {
            @content;
        }
    }
    @else if($breakPoint == 850){
        @media (min-width: 768px) and (max-width: 1300px) {
            @content;
        }
    }
    @else if($breakPoint == 1050){
        @media (min-width: 992px) and (max-width: 1300px) {
            @content;
        }
    }
    @else if($breakPoint == 1250){
        @media (min-width: 1181px) and (max-width: 1300px) {
            @content;
        }
    }
}

@mixin creatEle($w: 100%, $h: initial){
    content: "";
    display: block;
    width: $w;
    height: $h;
}

@mixin position($p: absolute, $t: initial, $r: initial, $b: initial, $l: initial, $z: initial){
    position: $p;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    z-index: $z;
}

@mixin flex($j: center, $a: center){
    display: flex;
    justify-content: $j;
    align-items: $a;
}
